<h2>Lista de Vuelos</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
    </tr>
    {% for vuelo in vuelos %}
    <tr>
        <td>{{ vuelo.id }}</td>
        <td>
            {% if vuelo.tipo == "Internacional" %}
                <b>{{ vuelo.nombre }}</b>
            {% else %}
                {{ vuelo.nombre }}
            {% endif %}
        </td>
        <td>{{ vuelo.tipo }}</td>
        <td class="{% if vuelo.tipo == 'Nacional' %}precio-nacional{% else %}precio-internacional{% endif %}">
            {{ vuelo.precio }}
        </td>
    </tr>
    {% endfor %}
</table>

<!-- Estilos -->
<style>
    .precio-nacional {
        color: blue;
    }
    .precio-internacional {
        color: black;
    }
</style>
